
#background{
    position: static;
}

.button1{
    position: absolute;
    bottom: 345px;
    left: 500px;

    font-size: 50px;
    background-color: black;
    padding-right: 75px;
    padding-left: 75px; 
    text-align:center;
    cursor: pointer; 
    color:#333; 
    transition:all 0.9s, color 0.3; 
}
.button2{
  
  font-size: 50px;
  background-color: black;
  padding-right: 75px;
  padding-left: 75px; 
  text-align:center;
  cursor: pointer; 
  color:#333; 
  transition:all 0.9s, color 0.3; 
}
/* 
#label-container{
    display: inline-block;
    border: 20px;
} */

#canvas{
    position: relative;
    left: 250px;
    bottom: -175px;
    box-sizing: 100px;
    height: 500px;
    color: pink;
}

#leftside{
    float: left;
    width: 50%;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }
  
  .countBox {


      position: relative;
      left: 150px;
      bottom: -300px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  } 
  
   .set {
    padding-left: 30px;
    font-family: neon;
    color: #FB4264;
    font-size: 5vw;
    line-height: 9vw;
    text-shadow: 0 0 1vw #F40A35;
  }
  
  #counter {
    font-family: neon;
    color: #426DFB;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #2356FF;
  }
  
  .set {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  @keyframes set {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
  #counter {
    animation: counter 2s linear infinite;
    -moz-animation: counter 2s linear infinite;
    -webkit-animation: counter 2s linear infinite;
    -o-animation: counter 2s linear infinite;
  }
  .set {
    animation: set 2s linear infinite;
    -moz-animation: set 2s linear infinite;
    -webkit-animation: set 2s linear infinite;
    -o-animation: set 2s linear infinite;
  }
  .button1 {
    animation: set 2s linear infinite;
    -moz-animation: set 2s linear infinite;
    -webkit-animation: set 2s linear infinite;
    -o-animation: set 2s linear infinite;
  }
  .button2 {
    animation: set 2s linear infinite;
    -moz-animation: set 2s linear infinite;
    -webkit-animation: set 2s linear infinite;
    -o-animation: set 2s linear infinite;
  }
  
  @keyframes counter {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }

  